<footer id="footer">
  <div class="footer-left">
    """
    Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }}
    Credits to [flaticon]("<a href="https://www.flaticon.com/free-icons/hibiscus" title="hibiscus icons">Hibiscus icons created by Icongeek26 - Flaticon</a>") for the website icon 
    """
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
